services:
  next-app:
    container_name: nextjs-prod
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "5000:5000" 
    
    environment:
      - NODE_ENV=production
      - NEXT_TELEMETRY_DISABLED=1 